<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AppFix</title>
</head>
<body>

{% extends "base.html" %}
{% block page_header %}
 <h1>Aplikacje</h1>
{% endblock page_header %}


{% block content %}



<ul>
    {% for app in apps %}
        <li><h3>
            <a href="{% url 'app' app.id %}">{{ app.appName }}</a>
        </h3></li>
    {% empty %}
        <li>Nie została jeszcze dodana żadna aplikacja.</li>
    {% endfor %}
</ul>

   <h4><a href="{% url 'new_app' %}">Dodaj nową aplikację</a></h4>

{% endblock content %}

</body>
</html>